{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
            <div class="card-body">
                <h4 class="card-title">Formulario</h4>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}